<%= form_for(@app_name) do |f| %>
  <% if @app_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_name.errors.count, "error") %> prohibited this app_name from being saved:</h2>

      <ul>
      <% @app_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :players %><br>
    <%= f.number_field :players %>
  </div>
  <div class="field">
    <%= f.label :directions %><br>
    <%= f.text_area :directions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
